.accpopup{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
}

.accpopup.is_active{
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
}

.popup-content{
    background: #fff;
    padding: 70px 20px;
    width: 700px;
    margin: 0;
    position: relative;
    border-radius: 20px;
}

.close{
    position: relative;
    cursor: pointer;
}

