.frequently_bought{
    background: #f3f3f3;
}

.frq_product{
    font-size: 30px;
    text-transform: uppercase;
    color: #76b900;
    padding-top: 50px;
    display: flex;
    justify-content: center;

}

.photos{
    display: flex;
    justify-content: space-around;
}