.top_header-section{
    position: relative;
    width: 100%;
    padding: 1px;
}

.header-page{
    padding-top: 5px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-page_end{
    display: flex;
    align-items: center;
}

.header-page_nav{
    margin-left: 100px;
    padding-right: 210px;
}

.header-page_ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

.header-page_li{
    margin-right: 40px;
}

.header-page_link{
    text-decoration: none;
    display: block;
    font-size: 18px;
    position: relative;
    color: #76b900;
}

.header_logo{
    padding-left: 255px;
}

.acc-popup-btn{
    color:  #76b900;
    font-size: 18px;
    border: none;
    background-color: white;
}